.header{
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2%;
}

.header.active{
    background: #040608;
    padding: 2rem 9%;
    box-shadow: var(--box-shadow);
}

.header a:link{
    text-decoration: none;
}

.header .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: black;
}

.header .logo i{
    padding-right: .5rem;
    color: black;
}

.header .navbar a{
    list-style-type: none;
    font-size: 1.6rem;
    color: black;
    margin: 0 1rem;
}
.header .navbar a:link{
    text-decoration: none;
}

