<ng-container *ngIf="products.length != 0">
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <h1>Cart</h1>
                <tbody>
                    <tr *ngFor="let item of products">
                        <td><img src="{{item.image}}" alt="" id="itemImage"></td>
                        <td>{{item.title}}</td>
                        <td><p style="font-size: x-large;"><strong>${{item.price}}</strong></p></td>
                        <td>
                            <button (click)="removeItem(item)" class="btn btn-danger"><i class="bi bi-x-circle-fill"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-danger emptycart" (click)="emptyCart()">Empty Cart</button>
            <div class="buttons">
                <h4>Total</h4>
                <strong>${{total}}</strong>
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>         
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="card">
            <h4 class="card-title">Cart</h4>
        </div>
        <div class="center">
            <img src="assets/empty_cart.png" alt="" draggable="false" id="emptyCartImage">
            <button routerLink="/products" class="btn btn-primary">Shop Now!</button>
        </div>
    </div>
</ng-container>