.card{
    height: 60vh;
    padding: 25px;
    margin: 25px;
}

#emptyCartImage{
    height: 200px;
}
#itemImage{
    width: 150px;
    height: 150px;
}

.table{
    position: relative;
    left:15%;
    margin: 25px;
    border: none;
    max-width: 56.25rem;
    background-color: white;
}

.center{
    position: absolute;
    left: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 27%;
}

.buttons{
    align-items: center;
    width: 10%;
    display: flex;
    margin-top: 0;
    top: 90%;
    position: relative;
    flex-direction: column;
    left: 68%;
}

.emptycart{
    position: relative;
    left: 17%;
}

.buttons p{
    margin-left: 2rem;
}