<section class="home" id="home">

    <div class="content">
        <h3><i class="fas fa-shop"></i> shopnow</h3>
        <p>Top #1 in the world in quality</p>
    </div>

</section>

<div class="card-top container-fluid">

</div>
<h1>Most Viewed</h1>
<div class="container">
    <div class="row">
        <ng-container *ngFor ="let item of products">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="" draggable="false">
                <h5 style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:100ch">{{item.title}}</h5>
                <p style="font-size: x-large;"><strong>${{item.price}}</strong></p>
                <button class="btn btn-primary"(click)="addtocart(item)">Add to Cart</button>
            </div>
        </ng-container>
    </div>
</div>
